section.section-about#about
  +header-section(
  "HOW WE CAN HELP YOU",
  "You come up with the business, we’ll build the website",
  null,
  null
  )
  p.section-about__text Maybe you’ve hired someone in the past to create your website, only to find out they know everything about pretty fonts and nothing about designs that convert. Perhaps you’ve worked with a content creator who writes suspiciously like a robot.
  img.section-about__img(src=require("./blocks/section-about/img/mackbook-and-iphone.png").default)
  p.section-about__text.section-about__text--second-text Maybe you’ve hired someone in the past to create your website, only to find out they know everything about pretty fonts and nothing about designs that convert. Perhaps you’ve worked with a content creator who writes suspiciously like a robot.
  +btn("a", "btn--about-shadow")