div.social.social--center
    a.social__twitter(href="#")
        img.social__twitter-icon(src=require("./img/twitter-icon.png").default, alt="Twitter")
    a.social__facebook(href="#")
        img.social__facebook-icon(src=require("./img/facebook-icon.png").default, alt="Facebook")
    a.social__instagram(href="#")
        img.social__instagram-icon(src=require("./img/instagram-icon.png").default, alt="Instagram")
    a.social__linkedin(href="#")
        img.social__linkedin-icon(src=require("./img/linkedin-icon.png").default, alt="LinkedIn")