section.section-portfolio#portfolio
  +header-section(
  null,
  "Our Portfolio",
  "We’ve done lots of stuff in the past and we made millions in revenue for hundreds of happy customers.",
  "header-section--portfolio"
  )
  +slider("portfolio-slider", "slider--portfolio")
    +portfolio-card(
    require("./blocks/portfolio-card/img/img-LandingZap.jpg"),
    require("./blocks/portfolio-card/img/icon-LandingZap.png"),
    "LandingZap App",
    "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\"t look even slightly believable."
    )
      div.portfolio-card__ux UX
      div.portfolio-card__ui UI
      div.portfolio-card__mobile-app MOBILE APP
    +portfolio-card(
    require("./blocks/portfolio-card/img/img-LandingZap.jpg"),
    require("./blocks/portfolio-card/img/icon-LandingZap.png"),
    "LandingZap App",
    "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\"t look even slightly believable."
    )
      div.portfolio-card__ux UX
      div.portfolio-card__ui UI
      div.portfolio-card__mobile-app MOBILE APP
    +portfolio-card(
    require("./blocks/portfolio-card/img/img-LandingZap.jpg"),
    require("./blocks/portfolio-card/img/icon-LandingZap.png"),
    "LandingZap App",
    "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\"t look even slightly believable."
    )
      div.portfolio-card__ux UX
      div.portfolio-card__ui UI
      div.portfolio-card__mobile-app MOBILE APP
    +portfolio-card(
    require("./blocks/portfolio-card/img/img-LandingZap.jpg"),
    require("./blocks/portfolio-card/img/icon-LandingZap.png"),
    "LandingZap App",
    "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\"t look even slightly believable."
    )
      div.portfolio-card__ux UX
      div.portfolio-card__ui UI
      div.portfolio-card__mobile-app MOBILE APP
    +portfolio-card(
    require("./blocks/portfolio-card/img/img-LandingZap.jpg"),
    require("./blocks/portfolio-card/img/icon-LandingZap.png"),
    "LandingZap App",
    "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour."
    )
      div.portfolio-card__ux UX
      div.portfolio-card__ui UI
      div.portfolio-card__mobile-app MOBILE APP
      div.portfolio-card__ux UX
      div.portfolio-card__ui UI
      div.portfolio-card__mobile-app MOBILE APP
      div.portfolio-card__ux UX
      div.portfolio-card__ui UI
      div.portfolio-card__mobile-app MOBILE APP