section.section-services#services
  +header-section(
  null,
  "Our Services",
  "We’ll do everything we can to grow your revenue. Our motivation is to drive your business further that you can imagine.",
  "header-section--services"
  )
  div.section-services__cards-wrapper
    +card(
    "Copywriting Material",
    "Or worse, you’ve heard horror stories about programmers, web designers and writers who sprint out of the starting blocks.",
    require("./blocks/section-services/img/journal.png"),
    "card--services"
    )
    +card(
    "Landing Page Design",
    "Or worse, you’ve heard horror stories about programmers, web designers and writers who sprint out of the starting blocks.",
    require("./blocks/section-services/img/home-page.png"),
    "card--services"
    )
    +card(
    "Full Marketing Design",
    "Or worse, you’ve heard horror stories about programmers, web designers and writers who sprint out of the starting blocks.",
    require("./blocks/section-services/img/megaphone.png"),
    "card--services"
    )
    +card(
    "Website Development",
    "Or worse, you’ve heard horror stories about programmers, web designers and writers who sprint out of the starting blocks.",
    require("./blocks/section-services/img/browser-window.png"),
    "card--services"
    )
    +card(
    "Marketing Materials",
    "Or worse, you’ve heard horror stories about programmers, web designers and writers who sprint out of the starting blocks.",
    require("./blocks/section-services/img/bookmark-archive.png"),
    "card--services"
    )