section.section-testimonials#testimonials
  +slider("testimonials-slider")
    +testimonial(
      "We have worked with Digital Crafters for several years across a range of projects. They have built the critical elements of our system and have always delivered a strong return on investment. Moreover, they are a pleasure to work with — always enthusiastic, professional and with a positive culture. I would, and have, recommended them to others in need of flexible development capacity.",
      "Todd Quinto",
      "CEO at Endave Software"
    )
    +testimonial(
      "Vivamus non porta dui. Vivamus eu est sodales, porta nisl eget, sollicitudin magna. Sed placerat sagittis dapibus. Vestibulum eget elit id nulla finibus rhoncus sit amet sodales quam. Nunc sollicitudin dictum nisl, et consequat dui ultrices at. Praesent mauris nisi, eleifend id libero non, tincidunt posuere nulla. Ut vel odio ut tellus faucibus luctus. Mauris libero justo, semper a felis ut, vehicula molestie nisi. Vestibulum sagittis.",
      "Jenna Mosey",
      "Manager at  Softvision"
    )
    +testimonial(
      "We have worked with Digital Crafters for several years across a range of projects. They have built the critical elements of our system and have always delivered a strong return on investment. Moreover, they are a pleasure to work with — always enthusiastic, professional and with a positive culture. I would, and have, recommended them to others in need of flexible development capacity.",
      "Todd Quinto",
      "CEO at Endave Software"
    )
    +testimonial(
      "We have worked with Digital Crafters for several years across a range of projects. They have built the critical elements of our system and have always delivered a strong return on investment. Moreover, they are a pleasure to work with — always enthusiastic, professional and with a positive culture. I would, and have, recommended them to others in need of flexible development capacity.",
      "Todd Quinto",
      "CEO at Endave Software"
    )
    +testimonial(
      "We have worked with Digital Crafters for several years across a range of projects. They have built the critical elements of our system and have always delivered a strong return on investment. Moreover, they are a pleasure to work with — always enthusiastic, professional and with a positive culture. I would, and have, recommended them to others in need of flexible development capacity.",
      "Todd Quinto",
      "CEO at Endave Software"
    )