nav.nav
    ul.nav__list
        li.nav__element
            a.nav__link(href="#about") ABOUT
        li.nav__element 
            a.nav__link(href="#testimonials") TESTIMONIALS
        li.nav__element 
            a.nav__link(href="#services") SERVICES
        li.nav__element 
            a.nav__link(href="#portfolio") PORTFOLIO
        li.nav__element 
            a.nav__link(href="#contact") CONTACT