svg(version="1.0" xmlns="http://www.w3.org/2000/svg" width="10.000000pt" height="16.000000pt" viewBox="0 0 10.000000 16.000000" preserveAspectRatio="xMidYMid meet")
  g(transform="translate(0.000000,16.000000) scale(0.100000,-0.100000)" fill="#4e5b6e" stroke="none")
    path(d="M40 115 l-34 -35 37 -37 c43 -44 64 -37 22 7 l-29 30 27 28 c15 15 27 31 27 35 0 15 -18 5 -50 -28z")