svg(version="1.0" xmlns="http://www.w3.org/2000/svg" width="10.000000pt" height="16.000000pt" viewBox="0 0 10.000000 16.000000" preserveAspectRatio="xMidYMid meet")
  g(transform="translate(0.000000,16.000000) scale(0.100000,-0.100000)" stroke="none")
    path(d="M10 143 c0 -4 12 -20 27 -35 l27 -28 -29 -30 c-42 -44 -21 -51 22 -7 l37 37 -34 35 c-32 33 -50 43 -50 28z")