include ./blocks/btn/mixins/_btn-mixin.pug
include ./blocks/card/mixins/_card-mixin.pug
include ./blocks/header-section/mixins/_header-section-mixin.pug
include ./blocks/logo/mixins/_logo-mixin.pug
include ./blocks/portfolio-card/mixins/_portfolio-card-mixin.pug
include ./blocks/slider/mixins/_slider-mixin.pug
include ./blocks/testimonial/mixins/_testimonial-mixin.pug
