$icons-color: #41bfe7;
$light-color: #ffffff;

$text-color: #4e5b6e;
$title-color: #20334d;

$header-bg-color: #1745b4;
$services-bg-color: #1750ba;
$portfolio-bg-color: #f1f6fb;

$link-hover-color: #0d2f7d;

$main-font: "Poppins", sans-serif;

$screen-xs: 350px;
$screen-sm: 500px;
$screen-md: 600px;
$screen-xl: 1090px;
$screen-xxl: 1350px;
