header.header#header
  div.header__row
    include ../nav/_nav
    +logo("logo--header")
    a.request-link(href="#") REQUEST A QUOTE
    include ../menu-icon/_menu-icon
  div.header__container
    div.header__title-wrapper
      p.header__slogan GET THE FOOLPROOF STRATEGY THAT HELPS YOU WIN
      h1.header__title We give you the stuff you need to make more money
      p.header__text Bring us your remarkable business. We’ll give you the design, content and tool you need to become unstoppable. 2020 is the year you become rich.
      +btn("a", "btn--header-shadow")