form.form(action="")
  input.form__name(type="text" placeholder="Your name")
  input.form__email(type="email" placeholder="Email")
  textarea.form__text(type="text" placeholder="How we can help you?")
  +btn("button", null)